In [11]:

import os
from pathlib import Path
import pandas as pd
import datetime
from datetime import datetime


def import_data_from_csv() -> dict:
    """Read data from csv files (prepared by transfermrkt dataset)

    Returns:
        list[pd.DataFrame] : list of dataframes (single csv to single dataframe)
    """

    # NOTE: This wont work for jupyter so we are using sth else for now
    # # Get the absolute path of the current script (jupyter dir)
    # BASE_DIR = Path(__file__).resolve().parent
        
    # NOTE: Later when we are converting this into an actual python file, comment this line  
    # Define the base and data directories
    BASE_DIR = Path.cwd()
    DATA_DIR = BASE_DIR.parents[0] / "data" / "transfer_data"
    # CLUBS_FILE = "clubs.csv"
    # ELOS_FILE = "club_elo_2024-09-21.csv"
    # # Load CSV data
    # # fbref_df = pd.read_csv(os.path.join(DATA_DIR, FBREF_FILE), sep=',', encoding='UTF-8')
    # clubs_df = pd.read_csv(os.path.join(DATA_DIR, CLUBS_FILE), sep=",", encoding="UTF-8")
    # elos_df = pd.read_csv(os.path.join(DATA_DIR, ELOS_FILE), sep=",", encoding="UTF-8")
    # elos_df = elos_df.head(632)  # Restrict the ELO data to the first 632 rows

    # # Build the path to the data directory
    # DATA_DIR = BASE_DIR / "transfer_data"

    # BASE_DIR = Path.cwd()

    # Build the path to the data directory

    # # Example of using the path to the data directory
    # csv_file = DATA_DIR / 'your_file.csv'
    # print(csv_file)

    # import all files in Data folder and read into dataframes
    dataframes = {}

    

    # Actual reading csv flies
    for dirpath, dirname, filenames in os.walk(DATA_DIR):
        for filename in filenames:
            file = filename.split(".")
            file = file[0] + "_df"
            if file != "_df":
                filepath = os.path.join(dirpath, filename)
                df = pd.read_csv(filepath, sep=",", encoding="UTF-8")
                exec(f"{file} = df.copy()")
                print(file, df.shape)
                dataframes[file] = df.copy()
    print("Data imported")

    return dataframes

competitions_df = pd.DataFrame()
appearances_df = pd.DataFrame()
player_valuations_df = pd.DataFrame()
game_events_df = pd.DataFrame()
players_df = pd.DataFrame()
games_df = pd.DataFrame()
club_games_df = pd.DataFrame()
clubs_df = pd.DataFrame()
players_elo_df = pd.DataFrame()
dataframes = import_data_from_csv()

for file_name, dataframe in dataframes.items():
    exec(f"{file_name} = dataframe.copy()")
    # print(file_name)

game_lineups_df (2191911, 10)
competitions_df (44, 11)
appearances_df (1610495, 13)
player_valuations_df (486009, 5)
game_events_df (761513, 10)
transfers_df (77585, 10)
players_df (32392, 23)
games_df (69635, 23)
club_games_df (139270, 11)
players_elo_df (240593, 9)
clubs_df (439, 17)
Data imported

In [12]:
players_elo_df = players_elo_df[players_elo_df['elo'].notna()]
df = pd.merge(appearances_df, players_elo_df, on="player_id", how="inner")
df.sort_values(by=['elo'], ascending=False)

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,...,assists,minutes_played,season,first_name,last_name,name,player_code,country_of_birth,date_of_birth,elo
80486,2243102_28003,2243102,28003,131,583,2013-01-27,Lionel Messi,ES1,0,0,...,0,90,2012.0,Lionel,Messi,Lionel Messi,lionel-messi,Argentina,1987-06-24 00:00:00,2038.13497
26474,2242837_28003,2242837,28003,131,583,2012-09-29,Lionel Messi,ES1,0,0,...,2,90,2012.0,Lionel,Messi,Lionel Messi,lionel-messi,Argentina,1987-06-24 00:00:00,2038.13497
764412,2899853_28003,2899853,28003,131,583,2018-04-07,Lionel Messi,ES1,0,0,...,0,90,2012.0,Lionel,Messi,Lionel Messi,lionel-messi,Argentina,1987-06-24 00:00:00,2038.13497
140681,2348142_28003,2348142,28003,131,583,2013-08-21,Lionel Messi,SUC,0,0,...,0,45,2012.0,Lionel,Messi,Lionel Messi,lionel-messi,Argentina,1987-06-24 00:00:00,2038.13497
401744,2594471_28003,2594471,28003,131,583,2015-08-23,Lionel Messi,ES1,0,0,...,0,90,2012.0,Lionel,Messi,Lionel Messi,lionel-messi,Argentina,1987-06-24 00:00:00,2038.13497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1448871,4131286_1159925,4131286,1159925,61761,53646,2023-08-02,Sergiy Korniychuk,UKRP,0,0,...,0,90,2023.0,Sergiy,Korniychuk,Sergiy Korniychuk,sergiy-korniychuk,Ukraine,2004-06-25 00:00:00,1105.01900
1552740,4120713_1159925,4120713,1159925,61825,53646,2024-03-02,Sergiy Korniychuk,UKR1,0,0,...,0,90,2023.0,Sergiy,Korniychuk,Sergiy Korniychuk,sergiy-korniychuk,Ukraine,2004-06-25 00:00:00,1105.01900
1570332,4120754_1159925,4120754,1159925,61825,53646,2024-04-13,Sergiy Korniychuk,UKR1,2,0,...,0,67,2023.0,Sergiy,Korniychuk,Sergiy Korniychuk,sergiy-korniychuk,Ukraine,2004-06-25 00:00:00,1105.01900
1576955,4120768_1159925,4120768,1159925,61825,53646,2024-04-27,Sergiy Korniychuk,UKR1,0,0,...,0,12,2023.0,Sergiy,Korniychuk,Sergiy Korniychuk,sergiy-korniychuk,Ukraine,2004-06-25 00:00:00,1105.01900
1582857,4120787_1159925,4120787,1159925,61825,53646,2024-05-11,Sergiy Korniychuk,UKR1,0,0,...,0,1,2023.0,Sergiy,Korniychuk,Sergiy Korniychuk,sergiy-korniychuk,Ukraine,2004-06-25 00:00:00,1105.01900

In [13]:
# Find all rows where 'player_id' is duplicated
duplicates = df[df.duplicated(subset=['player_id'], keep=False)]
duplicates

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,...,assists,minutes_played,season,first_name,last_name,name,player_code,country_of_birth,date_of_birth,elo
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,...,0,90,2012.0,Aurélien,Joachim,Aurélien Joachim,aurelien-joachim,Belgium,1986-08-10 00:00:00,1421.808953
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,...,0,90,2012.0,Ruslan,Abyshov,Ruslan Abyshov,ruslan-abyshov,UdSSR,1987-10-10 00:00:00,1451.401973
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,...,0,45,2012.0,Sander,Puri,Sander Puri,sander-puri,UdSSR,1988-05-07 00:00:00,1366.364031
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,...,0,90,2012.0,Vegar,Hedenstad,Vegar Hedenstad,vegar-hedenstad,Norway,1991-06-26 00:00:00,1568.612436
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,...,1,90,2012.0,Markus,Henriksen,Markus Henriksen,markus-henriksen,Norway,1992-07-25 00:00:00,1639.914641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610484,4451012_617754,4451012,617754,1053,1053,2024-09-19,Mylian Jiménez,DKP,0,0,...,0,90,2024.0,Mylian,Jiménez,Mylian Jiménez,mylian-jimenez,Netherlands,2003-01-13 00:00:00,1500.000000
1610485,4451012_627208,4451012,627208,1053,1053,2024-09-19,Andres Jasson,DKP,0,0,...,0,23,2024.0,Andres,Jasson,Andres Jasson,andres-jasson,United States,2002-01-17 00:00:00,1500.000000
1610486,4451012_634848,4451012,634848,1053,1053,2024-09-19,Jubril Adedeji,DKP,1,0,...,1,23,2024.0,Jubril,Adedeji,Jubril Adedeji,jubril-adedeji,NaN,2000-05-25 00:00:00,1500.000000
1610487,4451012_666563,4451012,666563,1053,1053,2024-09-19,Kelvin John,DKP,0,0,...,0,90,2021.0,Kelvin,John,Kelvin John,kelvin-john,Tanzania,2003-06-10 00:00:00,1340.495718
1610488,4451012_805056,4451012,805056,1053,1053,2024-09-19,Oliver Ross,DKP,0,0,...,0,24,2022.0,Oliver,Ross,Oliver Ross,oliver-ross,Denmark,2004-10-10 00:00:00,1406.251372

In [5]:
df = pd.merge(appearances_df, players_elo_df, on="player_id", how="inner")

In [6]:
df

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,...,minutes_played,Unnamed: 0,season,first_name,last_name,name,player_code,country_of_birth,date_of_birth,elo
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,...,90,38735,2012.0,Aurélien,Joachim,Aurélien Joachim,aurelien-joachim,Belgium,1986-08-10 00:00:00,1421.808953
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,...,90,81137,2012.0,Ruslan,Abyshov,Ruslan Abyshov,ruslan-abyshov,UdSSR,1987-10-10 00:00:00,1451.401973
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,...,45,43604,2012.0,Sander,Puri,Sander Puri,sander-puri,UdSSR,1988-05-07 00:00:00,1366.364031
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,...,90,76407,2012.0,Vegar,Hedenstad,Vegar Hedenstad,vegar-hedenstad,Norway,1991-06-26 00:00:00,1568.612436
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,...,90,104702,2012.0,Markus,Henriksen,Markus Henriksen,markus-henriksen,Norway,1992-07-25 00:00:00,1639.914641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610484,4451012_617754,4451012,617754,1053,1053,2024-09-19,Mylian Jiménez,DKP,0,0,...,90,226632,2024.0,Mylian,Jiménez,Mylian Jiménez,mylian-jimenez,Netherlands,2003-01-13 00:00:00,1500.000000
1610485,4451012_627208,4451012,627208,1053,1053,2024-09-19,Andres Jasson,DKP,0,0,...,23,227627,2024.0,Andres,Jasson,Andres Jasson,andres-jasson,United States,2002-01-17 00:00:00,1500.000000
1610486,4451012_634848,4451012,634848,1053,1053,2024-09-19,Jubril Adedeji,DKP,1,0,...,23,228288,2024.0,Jubril,Adedeji,Jubril Adedeji,jubril-adedeji,NaN,2000-05-25 00:00:00,1500.000000
1610487,4451012_666563,4451012,666563,1053,1053,2024-09-19,Kelvin John,DKP,0,0,...,90,230355,2021.0,Kelvin,John,Kelvin John,kelvin-john,Tanzania,2003-06-10 00:00:00,1340.495718
1610488,4451012_805056,4451012,805056,1053,1053,2024-09-19,Oliver Ross,DKP,0,0,...,24,235607,2022.0,Oliver,Ross,Oliver Ross,oliver-ross,Denmark,2004-10-10 00:00:00,1406.251372

In [8]:
df.sort_values(by=['elo'], ascending=False)

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,...,minutes_played,Unnamed: 0,season,first_name,last_name,name,player_code,country_of_birth,date_of_birth,elo
80486,2243102_28003,2243102,28003,131,583,2013-01-27,Lionel Messi,ES1,0,0,...,90,27299,2012.0,Lionel,Messi,Lionel Messi,lionel-messi,Argentina,1987-06-24 00:00:00,2038.13497
26474,2242837_28003,2242837,28003,131,583,2012-09-29,Lionel Messi,ES1,0,0,...,90,27299,2012.0,Lionel,Messi,Lionel Messi,lionel-messi,Argentina,1987-06-24 00:00:00,2038.13497
764412,2899853_28003,2899853,28003,131,583,2018-04-07,Lionel Messi,ES1,0,0,...,90,27299,2012.0,Lionel,Messi,Lionel Messi,lionel-messi,Argentina,1987-06-24 00:00:00,2038.13497
140681,2348142_28003,2348142,28003,131,583,2013-08-21,Lionel Messi,SUC,0,0,...,45,27299,2012.0,Lionel,Messi,Lionel Messi,lionel-messi,Argentina,1987-06-24 00:00:00,2038.13497
401744,2594471_28003,2594471,28003,131,583,2015-08-23,Lionel Messi,ES1,0,0,...,90,27299,2012.0,Lionel,Messi,Lionel Messi,lionel-messi,Argentina,1987-06-24 00:00:00,2038.13497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1448871,4131286_1159925,4131286,1159925,61761,53646,2023-08-02,Sergiy Korniychuk,UKRP,0,0,...,90,240346,2023.0,Sergiy,Korniychuk,Sergiy Korniychuk,sergiy-korniychuk,Ukraine,2004-06-25 00:00:00,1105.01900
1552740,4120713_1159925,4120713,1159925,61825,53646,2024-03-02,Sergiy Korniychuk,UKR1,0,0,...,90,240346,2023.0,Sergiy,Korniychuk,Sergiy Korniychuk,sergiy-korniychuk,Ukraine,2004-06-25 00:00:00,1105.01900
1570332,4120754_1159925,4120754,1159925,61825,53646,2024-04-13,Sergiy Korniychuk,UKR1,2,0,...,67,240346,2023.0,Sergiy,Korniychuk,Sergiy Korniychuk,sergiy-korniychuk,Ukraine,2004-06-25 00:00:00,1105.01900
1576955,4120768_1159925,4120768,1159925,61825,53646,2024-04-27,Sergiy Korniychuk,UKR1,0,0,...,12,240346,2023.0,Sergiy,Korniychuk,Sergiy Korniychuk,sergiy-korniychuk,Ukraine,2004-06-25 00:00:00,1105.01900
1582857,4120787_1159925,4120787,1159925,61825,53646,2024-05-11,Sergiy Korniychuk,UKR1,0,0,...,1,240346,2023.0,Sergiy,Korniychuk,Sergiy Korniychuk,sergiy-korniychuk,Ukraine,2004-06-25 00:00:00,1105.01900